<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/image/R.jpg">
    <!-- Bootstrap CSS -->
    
    
    <link rel="stylesheet" type="text/css" href="./static/main11.css">
    

    {% if title %}
        <title>My Blog - {{ title }}</title>
    {% else %}
        <title>My Blog</title>
    {% endif %}
    <script language="JavaScript">
      function ShowTime(){
        var NowDate=new Date();
        var d=NowDate.getDate();
        var tr=NowDate.getMonth();
        var y=NowDate.getFullYear();
        var h=NowDate.getHours();
        var m=NowDate.getMinutes();
        var s=NowDate.getSeconds();
        document.getElementById('showbox').innerHTML = (tr+1)+'-'+d+'-'+y+' '+h+':'+m+':'+s;
        setTimeout('ShowTime()',1000);
    }
    </script>
</head>
<body onload="ShowTime()">
    <header class="site-header">
      <nav class="navbar navbar-dark bg-steel">
        <div class="container">
          
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <h1><a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">Hobbies</a></h1>
              
            </div>

            <div class="navbar-nav">
              <p class="nav-item nav-link" id="showbox"></p>
            </div>
         
            
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        
      </div>
    </main>
    <audio/mpeg controls autoplay>
      
      <source src="./static/audio/StressedOut.mp3">
    Your browser does not support the audio element.
    </audio>


</body>
</html>