{% extends "layout.html" %}
{% block content %}
    <div>
        <h1>My Hobbies</h1>
        <h3>1.Rope skipping</h3>
        <h5><a href="https://ropeskippingsport.org/">https://ropeskippingsport.org/</a></h5>
        <h3>2.Music by Nirvana</h3>
        <h5><a href="https://www.youtube.com/watch?v=hTWKbfoikeg">https://www.youtube.com/watch?v=hTWKbfoikeg</a></h5>
        <h3>3.NASA missions</h3>
        <h5><a href="https://mars.nasa.gov/">https://mars.nasa.gov/</a></h5>
    </div>
{% endblock content %}